.NavContent {
  border-radius: 0px 0px 10px 10px;
}

.navHeader {
  width: 100%;
  max-width: 2000px;
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navHeader h1 {
  cursor: pointer;
  transition: color 0.4s ease;
  font-size: 40px;
}

.navHeader h1:hover {
  color: #4c8a06;
  transition: color 0.4s ease;
}

/*Links de Navegacion*/

.navHeader ul {
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navHeader li {
  list-style: none;
  padding-left: 10px;
}

.navHeader li .btnHeader {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: color 0.4s ease;
  font-size: 15px;
}

.navHeader li .btnHeader:hover {
  color: #4c8a06;
  transition: color 0.4s ease;
}

@media only screen and (max-width: 650px) {
  .navHeader ul {
    display: none;
  }
}
