.social-sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.social-icon {
    display: block;
    margin-bottom: 10px;
}

.social-icon img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover img {
    transform: scale(1.2);
}
