.social-sidebar {
    position: fixed;
    top: 50%;
    right:  0;
    transform: translateY(-50%);
    background-color: rgb(61, 128, 61);
    padding: 20px;
    border-radius: 30px 0px 0 30px;   
}

.social-icon {
    display: grid;
    margin-bottom: 10px;
}

.social-icon img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; 
}

.social-icon:hover img {
    transform: scale(1.2);
}