/*Muestra Todo el Footer*/
* {
  background: #323232;
}
.generalContent {
  width: 100%;
  text-align: center;
  color: #050505;
  margin-top: 20px;
  border-radius: 10px;
}

.allContent {
  display: flex;
  width: 100%;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

/*Muestra el contenido de la imagen y Links*/

.content {
  display: grid;
  grid-auto-columns: 5em;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.imgSocial {
  width: 35px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  max-height: 100px;
}

.contentSocial {
  color: #000000;
  text-align: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}
